extends /layout

block content
  section
    .input
      label Led 1
      input(type="text", placeholder="#123456")
    .input
      label Led 2
      input(type="text", placeholder="#123456")
    .input
      label Led 3
      input(type="text", placeholder="#123456")
    .input
      label Led 4
      input(type="text", placeholder="#123456")
    .input
      label Led 5
      input(type="text", placeholder="#123456")
    .input
      label Led 6
      input(type="text", placeholder="#123456")
    .input
      label Led 7
      input(type="text", placeholder="#123456")
    .input
      label Led 8
      input(type="text", placeholder="#123456")
    .input
      label Led 9
      input(type="text", placeholder="#123456")
    .input
      label Led 10
      input(type="text", placeholder="#123456")


  section
    button(type="submit") Send